
<div class=" padding">
<div class="container-fluid">
<div class="jumbotron text-center">
    <h1 class="display-4">Mean Auth App</h1>
    <p class="lead">This is a simple Mean Stack Application</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" [routerLink]="['/login']" role="button">Login</a>
      <a class="btn btn-primary btn-lg" [routerLink]="['/register']" role="button">Register</a>
      </p>
</div>
</div>
</div>

<div class="container-fluid">
  <div class="row">
  <div class="col">
   <h3> Angular-cli</h3>
   <p class="lead">Good tools make application development quicker and easier to maintain than if you did everything by hand</p>
  </div>
  <div class="col">
   <h3>Express</h3>
   <p class="lead">Fast, unopinionated, minimalist web framework for Node.js</p>
  </div>
  <div class="col">
    <h3>JWT Token</h3>
    <p class="lead">JSON Web Tokens are an open, industry standard RFC 7519 method for representing claims securely between two parties</p>
  </div>
</div>
</div>
